/*
Project Name: Final Project
Client: Nancy Mazzone
Author: Nancy Mazzone
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

.alignright {
    float: right;
    padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
    float: left;
    padding: 0 10px 10px 0; /* note the padding around a left floated image */
}


/* @media screen and (max-width:1025px{}) */


/******************************************
/* BASE STYLES
/*******************************************/
body {
    min-height: 100vh;
    width: 100%;
    /* display: flex; */
    /* flex-flow: column wrap; */
    
}
*{
    box-sizing: border-box;
}


/* font-family: 'Old Standard TT', serif; */
/* font-family: 'Open Sans', sans-serif; */




/******************************************
/* LAYOUT
/*******************************************/
body {
    min-height: 100vh;
    width: 100%; 
}

.hero-container{
    width: 100%;
    border-bottom: 1px solid #dfe6ec;
    height: 100%;
}

h1{
    font-family: 'Old Standard TT', serif;
    font-size: 8em;
    text-align: center;
    font-weight: 700;
    margin-top: 50px;
    /* padding:20px; */
}


h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
    text-align: center;
    font-weight: 600;
    
}


h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    text-align: center;
    font-weight: 300;
    margin-top: 10px;
    
}

.num-container{
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;       
}


@media (max-width: 646px){
.num-container{
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
        
}}

nav{
    text-align: center;
    margin-top: 50px;
    
    
}

a{
    font-family: 'Old Standard TT', serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 2em;
    padding: 50px 25px 50px 25px;
    color: black;
    margin: auto;
}

a.active{
    background-color: slategray;
}

a:hover:not(.active){
    background-color: slategrey;
    
}
/* *************************************************** */
                        /* Body */
/************************************************ */
h4{
    font-family: 'Old Standard TT', serif;
    font-size: 6em;
    font-weight: 700;  
 }

h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.75em;
    font-weight: 600;     
}

/* *************** right container layout ***************/

.right-container{
    /* background-color: lightgrey; */
    margin:20px; }

.art1{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.label-left{
    flex:1;
    width: 50%;  
    /* padding-left: 150px; */
    text-align: right;
    padding-right: 40px;
   
}

.spacer-right{
    flex:1;
    width: 50%;    
}

.art-content-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-top: 20px; 
    padding-left: 20px; 
    width:100%; 
} 
@media(max-width: 1024px){
    .art-content-right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: nowrap;
        padding-top: 20px; 
        padding-left: 20px; 
        margin-left: 60px;
        margin-right: 60px;
        width:100%; 
    }  



}


.artist-bio1{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.40em;
    width: 50%;
    padding: 20px;
    flex: 1;
}

@media(max-width: 1024px){
    .artist-bio1{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.40em;
        width: 90%;
        flex: 1;
    }   
}

.image-container-right{
   width:50%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   /* padding-right: 10px; */
}

@media(max-width: 1024px){
    .image-container-right{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        padding-left: 20px;   
     }}
     /* @media(max-width: 646px){
        .image-container-right{
            width:100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;    
         }} */
.image-container .image1-r{
    flex:1;
      
}

.image-container .image2-r{
    flex:1;
    padding-left: 20px;   
}
   
@media(max-width: 1024px){
.image1-r{
    flex:2;
    padding-left: 4 0px; 
}}

@media(max-width: 1024px){
.image2-r{
    flex:2;
    
}}

/* **************************** Left container layout ***************************** */
.left-container{
    /* background-color: lightgrey; */
    margin:20px;    
}
.art2{
    width:100%;
    display: flex;
    flex-direction: row;   
}
.spacer-left{
    flex:1;
    width:50%; }

.label-right{
    flex:1;
    width: 50%; 
    padding-left: 40px;  
}

.art-content-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-left: 20px;
} 

@media(max-width: 1024px){
    .art-content-left{
        display: flex;
        flex-direction: column;  
        flex-flow: column-reverse;
        margin-left: 60px;
        margin-right: 60px;
        /* width:100%;  */
       
    } 
}
.image-container-left{
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
 }
 @media(max-width: 1024px){
    .image-container-left{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
             
     }}

 .image-container .image1-l{
    flex:1; 
    padding-left: 20px;  
}
.image-container .image2-l{
    flex:1;}

.artist-bio2{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.40em;
    width: 50%;
    padding: 20px;
    /* margin-left: 30px; */
    flex: 1;
}

@media(max-width: 1024px){
    .artist-bio2{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.40em;
        padding-left: 20px;
        padding-right: 20px;
        flex: 1;
        width: 100%;
    }}





 

 

/* @media(max-width: 1024px){
    .image1-l{
        flex:2;
        padding-left: 20px;
    }}
        
@media(max-width: 900px){
    .image2-l{
        flex:2;
        padding: 20px;
    }} */






















/* ********************************************************* */




/* Center the container */
/******************************************
/* Mobile Styles
/*******************************************/

